{{- $items := slice -}}
{{- $pos := 1 -}}
{{- range .Ancestors.Reverse -}}
  {{- $items = $items | append (dict "@type" "ListItem" "position" $pos "name" (.Title | default .Site.Title) "item" .Permalink) -}}
  {{- $pos = add $pos 1 -}}
{{- end -}}
{{- $items = $items | append (dict "@type" "ListItem" "position" $pos "name" .Title "item" .Permalink) -}}
{{- $schema := dict "@context" "https://schema.org" "@type" "BreadcrumbList" "itemListElement" $items -}}
<script type="application/ld+json">{{ $schema | jsonify (dict "indent" "  ") | safeJS }}</script>
