{{ define "title" }}{{ .Title }} - {{ end }}

{{ define "meta" }}
{{ partial "single_meta.html" . }}
{{ partial "single_json_ld.html" . }}
{{ end }}

{{ define "main" }}
{{ .Render "summary" }}

<div class="adj mrow">
  <div class="mcol c6">
    <header>Next Article</header>
    {{ with .NextInSection }}
    {{ .Render "li_sm" }}
    {{ end }}
  </div>
  <div class="mcol c6">
    <header>Previous Article</header>
    {{ with .PrevInSection }}
    {{ .Render "li_sm" }}
    {{ end }}
  </div>
</div>

{{/* 個別の記事内のみ広告を表示させたいので、headタグの間に貼り付ける自動広告ではなく、
     広告ユニットを貼り付ける */}}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1954319019035310"
crossorigin="anonymous"></script>
<!-- 広告1 -->
<ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-1954319019035310"
    data-ad-slot="3306381628"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>

{{ template "_internal/disqus.html" . }}
{{ end }}
